/* our custom css color variables */
:root {
  --darkgreen: hsl(144, 32%, 14%);
  --beigeish: hsl(144, 0%, 85%);
}

*,
* ::before,
* ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.8rem;
  background-color: var(--darkgreen);
}

.footer {
  text-align: center;
  color: var(--darkgreen);
  margin-top: 1rem;
  background-color: var(--beigeish);
  height: 5rem;
}

/* Classes */
.hejsan {
  position: relative;
}

.text-box {
  position: absolute;
  top: 45%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Se till att texten ligger ovanpå SVG */
}

.bubble-svg {
  position: relative; /* Se till att svg:en är relativ för att hålla texten ovanpå den */
  display: block; /* Se till att svg:en har en korrekt displaytyp */
  width: 75%; /* Bredden av svg:en */
  height: auto; /* Automatisk höjd för att bibehålla proportioner */
}

.hejsan {
  display: flex;
  position: relative;
  align-self: flex-end;
  left: -10%;
  top: 10%;
  justify-content: end;
}

.h1-text {
  font-size: 5rem;
  width: 50rem;
  color: var(--darkgreen);
}

.h4-text {
  display: flex;
  font-size: 4rem;
  flex-wrap: wrap;
}

.nav-bar {
  display: flex;
  color: var(--beigeish);
  justify-content: flex-end;
  margin-right: 10rem;
  /* border: solid 5px pink; */
}
.nav-links {
  margin-top: 2rem;
  margin-left: 1.5rem;
  font-size: 2.2rem;
  /* border: solid 5px yellow; */
}

.first-page {
  background-image: url("../projektarbete_grupp_3/img/fox_image_1920x_zoom.webp");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.second-page {
  background-color: var(--beigeish);
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: solid 5px; */
}

.text {
  background-color: var(--beigeish);
  width: 50%;
  margin: 1rem;
}

.chart {
  background-color: var(--beigeish);
  width: 70%;
}

/* #sticky-parallax-header {

} */

/* @keyframes sticky-parallax-header-move-and-size {
  from {
    background-position: 50% 0%;
    height: 100%;
    font-size: calc(4vw + 1em);
  }
  to {
    background-position: 50% 100%;
    background-color: #1f2672;
    height: 100%;
    font-size: 2em;
  }
}

.content {
  padding-top: 100vh;
} */
