/* our custom css color variables */
:root {
  --darkgreen: hsl(143, 32%, 14%);
  --beigeish: rgb(217, 217, 217);
}

*,
* ::before,
* ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.8rem;
  background-color: var(--darkgreen);
}

footer {
  height: 60vh;
  display: flex;
  text-align: center;
  color: var(--beigeish);
  margin-top: 1rem;
  background-color: var(--darkgreen);
  height: 5rem;
  flex-grow: 1;
}

/*--------------- First page classes  --------------- */

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.first-page {
  background-image: url("../projektarbete_grupp_3/img/fox_image_1920x_zoom.webp");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.first-page__title {
  display: flex;
  position: absolute;
  top: 20rem;
  left: 80rem;
  width: 100%;
  color: var(--beigeish);
  font-family: "Koulen", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.h1-text {
  position: absolute;
  border: 2px solid pink;
  font-size: 7.5rem;
}

.h2-text {
  display: flex;
  font-size: 5rem;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  color: var(--beigeish);
  margin-top: 20%;
}

.h4-text {
  font-size: 3rem;
  color: var(--darkgreen);
}

@media screen and (max-width: 768px) {
  .h1-text {
    font-size: 2.5rem;
  }
  .text-box p {
    font-size: 1rem;
  }
}

.text-box p {
  width: 60%;
}

/* Button on first page scroll */
/* Button container */
.btn {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: auto;
  padding-bottom: 1%;
}

/* Link styles */
.btn a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--darkgreen);
  letter-spacing: 0.2em;
  transition: opacity 0.3s;
  z-index: 6;
}

/* Hover effect for link */
.btn a:hover {
  opacity: 0.5;
}

/* Text above the arrow */
.btn-next-page a .next_page_btn-text {
  display: block;
  margin-bottom: 0.5rem; /* Spacing between text and arrow */
  font-size: 1em; /* Adjust text size as needed */
}

/* Arrow container */
.btn-next-page a .arrow {
  display: block;
  width: 1rem; /* Adjust size */
  height: 1em;
  position: relative;
}

/* Arrow styles */
.btn-next-page a .arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.2em; /* Adjust arrow size */
  height: 1.2em;
  margin: -1rem 0 0 -1rem;
  border-left: 2px solid var(--darkgreen);
  border-bottom: 2px solid var(--darkgreen);
  transform: rotate(-45deg);
  box-sizing: border-box;
  cursor: pointer;
}

/* White color variant */
.btn-next-page_white a {
  color: white;
}

.btn-next-page_white a .arrow::after {
  border-left: 2px solid white;
  border-bottom: 2px solid white;
}

/* Second page classes */

.second-page_backround {
  height: auto;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.second-page_backround::before {
  content: "";
  position: absolute;
  top: -130vh;
  left: 0;
  width: 100%;
  height: 245vh; /* Samma som top + höjd för att täcka hela second-page */
  background: url(img/trees_1.webp) no-repeat center center;
  background-size: cover;
  z-index: 2;
}

.second-page_content {
  position: relative;
  color: #ffffff;
  line-height: 1.2;
  align-items: center;
  z-index: 2;
  width: 80%; /* Anpassa till en bredare vy för mindre skärmar */
  max-width: 30%; /* Maxbredd för större skärmar */
}

.p-text {
  padding-top: 0.2rem;
}

.second-text .p-text {
  padding-top: 1.8rem;
}

/* Media Queries för responsiv design */
@media (max-width: 1200px) {
  .second-page_content {
    max-width: 50%; /* Anpassa bredden för större surfplattor */
  }
}

@media (max-width: 768px) {
  .second-page_content {
    max-width: 70%; /* Anpassa bredden för mindre surfplattor */
  }
}

@media (max-width: 480px) {
  .second-page_content {
    max-width: 90%; /* Anpassa bredden för mobiltelefoner */
  }
  .second-page_backround::before {
    top: -100vh;
    height: auto; /* Anpassa höjden för att täcka hela sidan på mindre skärmar */
  }
  .p-text {
    padding-top: 1rem; /* Justera padding för mindre skärmar */
  }
  .second-text .p-text {
    padding-top: 1.5rem; /* Justera padding för mindre skärmar */
  }
}
/*--------------- Knappar på second-page -------------- */

.bubble-btn__container {
  z-index: 3;
  display: flex;
  justify-content: space-around;
}

.bubble-btn {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  cursor: pointer;
  padding: 3rem;
  transition: transform 0.3s ease; /* Add transition for smooth movement */
}

.bubble-btn:hover {
  transform: scale(1.1);
}

.btn-next-page_white a {
  color: white;
  z-index: 4;
}

.btn-next-page_white a span::after {
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  top: -100%;
  left: 50%;
}

/*--------------- Pop up modal for buttons on second page -------------- */

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: var(--beigeish);
  margin: 5% auto;
  padding: 2%;
  border-radius: 20px;
  width: 50%;
  color: var(--darkgreen);
  box-shadow: 1.5rem 3rem 1rem rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.modal-img_container {
  display: flex;
  justify-content: center;
  margin: 3%;
  padding-right: 30%;
  padding-top: 1%;
  max-width: 90%;
  height: auto;
}

.modal-img_container img {
  display: block; /* Gör bilden blockelement för korrekt placering */
  width: 100%; /* Fyller sin förälders bredd */
  height: auto; /* Behåller bilden proportionell när den skalas */
}

.close {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--darkgreen);
  text-decoration: none;
  cursor: pointer;
}

body.modal-open {
  overflow: hidden;
}

.ul-class_modal1 {
  list-style-type: circle;
  margin-top: 5%;
  margin-left: 10%;
  font-size: 2rem;
}

.ul-class_modal1 a {
  text-decoration: none;
  color: var(--darkgreen);
  font-weight: 900;
}

.ul-class_modal1 li {
  padding: 1%;
}

.ul-class_modal1 a:hover {
  text-decoration: underline;
  opacity: 80%;
}

.modal-content .p-text {
  padding-right: 30%;
  padding-top: 1%;
}

/*---Modal i modal----*/

.modal .modal {
  z-index: 9999;
}

.natura-line-chart {
  background-color: white;
  width: 100%;
}

/*----------- Third page section --------------------------------- */
/* Grundläggande stilar */
.third-page {
  background-image: url(img/geranimo-qzgN45hseN0-unsplash.jpg);
  background-size: cover;
  display: flex;
  height: 160vh;
  position: relative;
  flex-direction: column;
}

.third-page .h2-text {
  z-index: 2;
}

.third-page .p-text,
.third-page .h4-text {
  z-index: 2;
  color: var(--beigeish);
}

.third-page_content {
  width: 50%;
  height: 150vh;
  /* width: 80%; 
  max-width: 30%; 
  display: flex;
  flex-direction: column;
  z-index: 2; */
}

.third-page_content-info {
  align-self: center;
}

.third-page_content-info .h4-text {
  margin-top: 1.2rem;
}

.bar-chart__endangered-species {
  width: 80%; /* Anpassa till en bredare vy för mindre skärmar */
  max-width: 50%; /* Maxbredd för större skärmar */
  background-color: #ffffff;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
  z-index: 2;
}

.animals-page_text {
  color: white;
  z-index: 2;
}

/* Media Queries för responsiv design */
@media (max-width: 1200px) {
  .third-page_content {
    max-width: 50%; /* Anpassa bredden för större surfplattor */
  }

  .bar-chart__endangered-species {
    max-width: 60%; /* Anpassa bredden för större surfplattor */
  }
}

@media (max-width: 768px) {
  .third-page_content {
    max-width: 70%; /* Anpassa bredden för mindre surfplattor */
  }

  .bar-chart__endangered-species {
    width: 70%; /* Anpassa bredden för mindre surfplattor */
  }
}

@media (max-width: 480px) {
  .third-page_content {
    max-width: 90%; /* Anpassa bredden för mobiltelefoner */
  }

  .bar-chart__endangered-species {
    max-width: 90%; /* Anpassa bredden för mobiltelefoner */
  }

  .third-page .p-text,
  .third-page .h4-text {
    font-size: 0.9rem; /* Justera fontstorleken för mindre skärmar */
  }
}

.fourth-page {
  background-image: url(img/sky_fourth_page_bg.jpg);
  background-size: cover;
  height: 150vh;
  flex-direction: column;
  content: "";
}

.pie-chart__goal-container {
  width: calc(50% - 1rem);
  margin-bottom: 1rem;
  display: flex; /* Lägg till flex-rörelse */
  justify-content: center; /* Centrera innehållet horisontellt */
  align-items: center; /* Centrera innehållet vertikalt */
}

.pie-charts__swe-goal-15 {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  height: auto;
  justify-content: center; /* Centrera innehållet horisontellt */
  margin: 4rem;
}

.pie-charts__swe-goal-15 canvas {
  /* background-color: var(--beigeish); */
}

.fourth-page .h2-text {
  z-index: 4;
  color: var(--darkgreen);
  margin: 0.5rem;
}

.chart-wrapper {
  width: 20rem;
  margin: 1rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
}
